<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionary</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>


<body>

    <div class="top-bar sticky is-stuck is-at-top">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Questionary</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {{#if userStatus}}
                    <li>
                        <a href="/accounts/by-name/{{userStatus.username}}">
                            <small>Signed in as {{userStatus.username}}</small>
                        </a>
                    </li>
                    <li><a href="/accounts/sign-out">Sign out</a></li>
                {{else}}
                    <li><a href="/accounts/sign-in">Sign In</a></li>
                {{/if}}
                <li><a href="/questions/new-post">New Question</a></li>
                <li><a href="/questions/unanswered/">Answer</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </div>
    </div>

    <div class="row main-content" id="content">
        {{{body}}}
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>

</body>

</html>