<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionary</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>

    <div class="sticky is-at-top is-stuck" data-sticky="1kyafu-sticky" data-anchor="content">

        <div class="sticky-container">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">Questionary</li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Add Question</a></li>
                        <li><a href="#">Answer</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{{body}}}

</body>

</html>