<div class="content">
	<h2>Sign in</h2>
	<p>Sign in using the form below.</p>
</div>

<form method="POST" action="/accounts/sign-in">

	<p>Username:</p>
	<br>
	<input type="text" name="username" id="username" />
	<br>
	<p>Password:</p>
	<br>
	<input type="password" name="password" id="password" />
	<p>Repeat password:</p>
	<br>
	<br><br>
	<input type="submit" class="btn" value="Sign in" />

</form>

<div id="signup">
<p>Not a user?</p>
<p><a href="/accounts/sign-un">Sign Up</a></p>

</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {

		const form = document.querySelector("form")

	})
</script>