<div name="account">
	<h3>Account</h3>
	{{#if account}}
		<dl>
			
			<dt>Id:</dt>
			<dd>{{account.id}}</dd>
			
			<dt>Username:</dt>
			<dd>{{account.username}}</dd>
			
		</dl>
	{{else}}
		<p>No, that account doesn't exist.</p>
	{{/if}}
</div>