<div name="accounts">
	<h3>All User Accounts</h3>
	
	{{#if accounts}}
		<ul>
			{{#each accounts}}
				<li><a href="/accounts/{{username}}">{{username}}</a></li>
			{{/each}}
		</ul>
	{{else}}
		<p>No accounts exist yet.</p>
	{{/if}}
	
</div>