<div class="row" id="content">
    <div class="medium-8 column">
		<h3>All User Accounts</h3>
		{{#if accounts}}
			<ul>
				{{#each accounts}}
					{{#ifNot username "Deleted user"}}
						<li><a href="/accounts/by-name/{{../username}}">{{../username}}</a></li>
					{{/ifNot}}
				{{/each}}
			</ul>
		{{else}}
			<p>No accounts exist yet.</p>
		{{/if}}
    </div>
</div>