<div name="newAccount">

	<h3>New Account</h3>

	<form method="POST" action="/accounts/sign-up">
		<br>
		<input type="text" name="username" id="username" placeholder="Username" 
			{{#if username}}
				value="{{username}}"
			{{/if}} 
		/>
		<br>
		<input type="text" name="email" id="email" placeholder="Email" 
			{{#if email}}
				value="{{email}}"
			{{/if}} 
		/>
		<br>
		<input type="password" name="password" id="password1" placeholder="Password" />
		<br>
		<input type="password" name="passwordRepeated" id="password2" placeholder="Repeat password" />
		<br>
		<input type="hidden" name="_csrf" value="{{csrfToken}}" />
		<input type="submit" class="button" value="Register" />
		<br>
		<ul id="errorMessages">
			{{#if validationErrors}}
				{{#each validationErrors}}
					<li>{{this}}</li>
				{{/each}}
			{{/if}}
		</ul>
	</form>

</div>

<script src="../views/client-validation/account-validator.js"></script>