<div name="account">
	<h3>Username: {{account.username}}</h3>
	{{#if account}}
		
		<a href="/questions/by-answer-author/{{account.username}}" class="button">Show all answers</a>	
		<br>

		{{#if userStatus}}
			{{#ifEquals account.username userStatus.username}}
					<a href="/accounts/edit/" class="button">Edit account</a>
					<br>
					<a href="/accounts/edit/" class="button">Delete account</a>
			{{/ifEquals}}
		{{/if}}
	{{else}}
		<p>No, that account doesn't exist.</p>
	{{/if}}
</div>