<div class="row" id="content">
	<div class="form-post form-sign-in">

		<div class="medium-12 column">
			<h3>Sign In</h3>
		</div>
		<form name="signIn" method="POST" action="/accounts/sign-in">
			<div class="medium-8 column">
				<input type="email" {{#if email}} value="{{email}}" {{/if}}
				name="email" id="email" placeholder="Email" />
			</div>
			<div class="medium-8 column">
				<input type="password" id="password" name="password" placeholder="Password" />
			</div>
			<input type="hidden" name="_csrf" value="{{csrfToken}}" />
			<div class="medium-8 column">
				<input type="submit" class="button" value="Sign in">
			</div>
		</form>

		<div class="medium-10 column link-sign-up">
			<h4>Not a user?</h4>
			<a id="sign-up" class="button" href="/accounts/sign-up">Sign up</a>
			<a id="sign-in-google" href="/accounts/sign-in/google">
			<img class="google" src="/images/btn_google_signin_dark_pressed_web@2x.png" alt="Sign in with google">
			</a>
		</div>

		<div class="medium-10 column">
			<div name="errorMessage">
				{{#if errorMessage}} 
					{{errorMessage}}
				{{/if}}
			</div>
		</div>

	</div>
</div>