<div class="content">
	<h3>Sign In</h3>
	<p>Sign in using the form below.</p>

	<form name="signIn" method="POST" action="/accounts/sign-in">
		<br>
		<input type="text" 
			{{#if email}} 
				value="{{email}}"
			{{/if}}
			name="email" id="email" placeholder="Email" />
		<br>
		<input type="password" name="password" id="password" placeholder="Password" />
		<br>
		<input type="hidden" name="_csrf" value="{{csrfToken}}" />
		<input type="submit" class="button" value="Sign in" />
	</form>
	<br>
	<div name="getGoogleSignIn">
		<a href="/accounts/sign-in/google">
			<img src="/images/btn_google_signin_dark_pressed_web@2x.png" alt="Sign in with Google">
		</a>
	</div>
	<br>
	<div name="getSignUp">
		<p>
			Not a user?
			<a class="button" href="/accounts/sign-up">Sign up</a>
		</p>
	</div>
	<div name="errorMessage">
		{{#if errorMessage}} 
			<br>
			{{errorMessage}}
		{{/if}}
	</div>

</div>