<div class="content">
	<h3>Sign In</h3>
	<p>Sign in using the form below.</p>

	<form method="POST" action="/accounts/sign-in">
		<br>
		<input type="text" 
			{{#if email}} 
				value="{{email}}"
			{{/if}}
			name="email" id="email" placeholder="Email" />
		<br>
		<input type="password" name="password" id="password" placeholder="Password" />
		<br>
		<input type="hidden" name="_csrf" value="{{csrfToken}}" />
		<input type="submit" class="button" value="Sign in" />
	</form>
	<br>
	<div id="sign-up">
		<p>
			Not a user?
			<a href="/accounts/sign-up">Sign up</a>
		</p>
	</div>

	<ul id="error-message">
		{{#if errorMessage}} 
			<br>
			<li>{{errorMessage}}</li>
		{{/if}}
	</ul>

</div>