<div name="deleteAccount">
	<h3>Delete Account</h3>
	<p>
        Confirm deleting account.
        <br>
        This action can not be reversed.
    </p>
<form method="POST" action="/accounts/delete">
	<input type="submit" class="btn" value="Confirm" />
</form>
</div>