<div class="content">
	<h2>Sign up</h2>
	<p>Create a new account using the form below.</p>
</div>

<form method="POST" action="/accounts/sign-up">

	<p1>Username:</p1>
	<br>
	<input type="text" name="username" id="username" /> 
	<br>
	<p1>Password:</p1>
	<br>
	<input type="password" name="password" id="password1" />
	<p1>Repeat password:</p1>
	<br>
	<input type="password" name="passwordRepeated" id="password2" />
	<br><br>
	<input type="submit" class="btn" value="Register" />

	<div id="errorMessage"></div>
</form>



<script>
	document.addEventListener("DOMContentLoaded", function () {
		
		const form = document.querySelector("form")

		form.addEventListener("submit", validateRegisterForm)

		function validateRegisterForm(event) {
			
			/*
			const constraints =  JSON.parse('{{{validationConstraints}}}')
			console.log(constraints)
			*/

			const minUsernameLength = 4
			const maxUsernameLength = 20
			const minPasswordLength = 8
			const maxPasswordLength = 20

			const username = document.getElementById("username").value
			const password1 = document.getElementById("password1").value
			const password2 = document.getElementById("password2").value

			const errorField = document.getElementById("errorMessage")
			errorField.innerText = ""

			if (minUsernameLength > username.length) {
				errorMessage = "Username needs to be atleast " + minUsernameLength + " characters long."
			} else if (username.length > maxUsernameLength) {
				errorMessage = "Username can not be longer than " + maxUsernameLength + " characters."
			} else if (minPasswordLength > password1.length) {
				errorMessage = "Password needs to be atleast " + minPasswordLength + " characters long."
			} else if (password1.length > maxPasswordLength) {
				errorMessage = "Password can not be longer than " + maxPasswordLength + " characters."
			} else if (password1 != password2) {
				errorMessage = "Passwords dont match."
			} else {
				return true
			}

			errorField.innerText = errorMessage
			event.preventDefault()
			
		}

	})
</script>