<div name="account">
	{{#if account}}
		<h3>Username: {{account.username}}</h3>
		<a href="/questions/by-answer-author/{{account.username}}" class="button">Show all answers</a>	
		<br>

		{{#if userStatus}}
			{{#ifEquals account.username userStatus.username}}
				{{#unless ../userStatus.isThirdParty}}
					<a href="/accounts/edit/" class="button">Edit account</a>
					<br>
				{{/unless}}
					<a href="/accounts/delete/" class="button">Delete account</a>
			{{/ifEquals}}
		{{/if}}
	{{else}}
		<h3>User does not exist.</h3>
	{{/if}}
</div>