<div>Post new questions here</div>


<form class="question" method="POST" action="/questions/new-post">
	<br>
	<input type="text" name="question" id="question" placeholder="Question" />
	<br>
    <input type="text" name="description" id="description" placeholder="description" />
    <br>
	<input type="submit" class="btn" value="Post question" />
	<br>
	<div id="error-message"></div>
</form>