<div>Post new questions here</div>



<form method="POST" action="/questions/new-post">
	<br>
	<input type="text" name="question" id="question" placeholder="Question" />
	<br>
    <input type="text" name="description" id="description" placeholder="description" />
    <br>
	<input type="submit" class="btn" value="Sign in" />
</form>