<div name="search">
    <h3>Search Questions</h3>
    <p>
        Possible matches:
        <br>
        Question title, category, date, author
    </p>
    <form name="searchQuestions" method="GET" action="/search-results">
        <input type="text" name="searchQuery" placeholder="Search query goes here." />
        <input type="submit" value="Search" />

    </form>


</div>