body {
    font-family: Lucida Console;
}

h1, h2, h3, h4 {
    font-family: Lucida Console;
}

body.isLoggedOut .showIfLoggedIn{
	display: none;
}

body.isLoggedIn .showIfLoggedOut{
	display: none;
}

.main-content{
	width: 75%;
	margin: 0 auto;
}

.main-content > div{
	display: none;
}

.main-content > div.current-page{
	display: block;
}

.top-bar {
    font-size: large;
    overflow: hidden;
    background: #333;
    padding: 1.5rem;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-bar .menu-text {
    color: #ffffff
}

.top-bar .menu {
    background: #333;
}


.top-bar-left li {
    padding: 0;
}

.top-bar a, .top-bar a:visited {
    color: #ffffff;
}

.top-bar a:active {
    color: #000;
}

.top-bar #search li {
	display: inline-block;
}

.top-bar .input-group {
	margin-bottom: 0;
}

.row {
    margin-top: 80px;
}

.row h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.side-nav {
    width: 250px;
    right: 50px;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #333; 
    overflow-x: hidden;
    position: fixed; 
    z-index: 1;
}

.side-nav h4 {
    text-align: center;
    font-size: larger;
    color: #ffffff;
}

.side-nav ul {
    list-style-type: none;
    background-color: #f1f1f1;
}

.side-nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 5px;
}
  
.side-nav li a.active {
    background-color: rgb(73, 131, 255);
    color: white;
}
  
.side-nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.form-post {
    width: 60%;
}

.form-post .column:last-child, .columns:last-child {
    float: left;
}

.form-sign-in {
    width: 40%;
}

.link-sign-up {
    margin-top: 15px;
}

#sign-up.button {
    margin-top: 15px;
}

p.textPost, h3.textPost {
    word-wrap: break-word;
}

/* loader: */

#loader.show {
	display: block;
}

#loader.hide {
	display: none;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #333;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #333 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .center {
	margin: auto;
	width: 50%;
	padding: 10px;
	top: 25%;
	left:45%;
	position: absolute;
  }