body{
	/* background-color: silver; */
	background-color: rgb(19, 113, 126);
}

header{
	text-align: center;
	font-size: 300%;
	font-weight: bold;
}

nav{
	border-bottom: 1px solid black;
	width: 80%;
	margin: 0 auto;
	padding: 0.5em;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	color: black;
}

body{
	width: 75%;
	margin: 0 auto;
}

body > div{
	display: none;
}

body > div.current-page{
	display: block;
}

body.isLoggedOut .showIfLoggedIn{
	display: none;
}

body.isLoggedIn .showIfLoggedOut{
	display: none;
}

footer{
	border-top: 1px solid black;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 0.5em;
}

footer a{
	color: black;
}

#loader.show {
	display: block;
}

#loader.hide {
	display: none;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #333;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #333 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .center {
	margin: auto;
	width: 50%;
	padding: 10px;
	top: 25%;
	left:45%;
	position: absolute;
  }

