<div class="side-nav">
    <div id="title">
        <h4>Categories</h4>
    </div>
    <ul>
        {{#each categories}}
            <li><a href="/questions/by-category/{{this}}/{{../answerStatus}}">{{this}}</a></li>  
        {{/each}}
    </ul>
</div>
